#wiscExitPoll {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana,Arial,sans-serif;

    .wep--header {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        overflow-y: auto;

        .header--group {
            width: 80%;
            float: right;
            border: 0;
            border-collapse: collapse;
            border-spacing: 0;

            .canidates--empty {
                width: 25%;
            }
            .canidates--canidate {
                width: 15%;
                text-align: center;
                vertical-align: bottom;
                font-size: 14px;
                background: #fff;

                .canidate--image {
                    width: 100%;
                    max-width: 124px;
                    height: auto;
                    border-right: 1px solid #fff;
                }
            }
        }
    }

    .wep--polls {
        border-bottom: 1px solid #444;

        .wep--poll {
            overflow-y: auto;
            border-top: 1px solid #444;

            .poll--topic {
                width: 18%;
                margin: 10px 0 0 0;
                padding: 0;
                float: left;
                font-size: 16px;
                line-height: 1.4;
            }

            .poll--group {
                width: 80%;
                float: right;
                border: 0;
                border-collapse: collapse;
                border-spacing: 0;

                .poll--category {
                    border-bottom: 1px solid #e5e5e5;

                    td:nth-child(3){
                        border-right: 1px solid #000;
                    }
                    .category--name {
                        width: 25%;
                        font-size: 14px;
                    }
                    .category--percent {
                        font-size: 12px;
                        font-style: italic;
                        color: #999;
                    }
                    .category--result {
                        padding: 20px;
                        width: 15%;
                        text-align: center;
                        color: #000;

                        .result--percent {
                            font-size: 14px;
                        }
                    }
                }
                .poll--category:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 628px) {
    #wiscExitPoll {
        .wep--header {
            .header--group {
                width: 100%;
                float: none;
            }
        }
        .wep--polls {
            .wep--poll {
                .poll--topic {
                    width: 100%;
                    float: none;
                    margin: 10px 0;
                    font-size: 16px;
                }
                .poll--group {
                    width: 100%;
                    float: none;

                    .poll--category {

                        .category--name {
                            font-size: 12px;
                        }
                        .category--percent {
                            font-size: 10px;
                        }
                        .category--result {
                            padding: 12px 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 460px) {
    #wiscExitPoll {
        .wep--header {
            .header--group {
                .canidates--canidate {
                    font-size: 10px;
                }
            }
        }
    }
}
