<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet">
    <style>
        /* similuated page */
        .container {
            max-width: 1000px;
            margin: 30px auto;
            font-family: Verdana, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #222;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="wiscExitPoll">
            <div class="wep--stickywrapper">
            <div class="wep--header">
                <table class="header--group">
                    <tr class="header--canidates">
                        <td class="canidates--empty">
                        </td>
                        <td class="canidates--canidate">
                            <img class="canidate--image" src="http://media.jrn.com/images/clinton_exitpoll.jpeg">
                            Clinton
                        </td>
                        <td class="canidates--canidate">
                            <img class="canidate--image" src="http://media.jrn.com/images/sanders_exitpoll.jpeg">
                            Sanders
                        </td>
                        <td class="canidates--canidate">
                            <img class="canidate--image" src="http://media.jrn.com/images/cruz_exitpoll.jpeg">
                            Cruz
                        </td>
                        <td class="canidates--canidate">
                            <img class="canidate--image" src="http://media.jrn.com/images/kasich_exitpoll.jpeg">
                            Kasich
                        </td>
                        <td class="canidates--canidate">
                            <img class="canidate--image" src="http://media.jrn.com/images/trump_exitpoll.jpeg">
                            Trump
                        </td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="wep--polls"></div>
        </div>
    </div>
    <script type="text/template" id="template--poll">
        <div class="wep--poll">
            <h2 class="poll--topic"><%= topic %></h2>
            <table class="poll--group">
                <%= categorieshtml %>
            </table>
        </div>
    </script>
    <script type="text/template" id="template--category">
        <tr class="poll--category">
            <td class="category--name"><%= category %></td>
            <td class="category--result" style="background:rgba(18,100,181,<% print(clinton !== "-" ? clinton : 0); %>)">
                <span class="result--percent"><% print(clinton !== "-" ? Math.round(parseFloat(clinton,10) * 100) + "%" : "&nbsp;-&nbsp;"); %></span>
            </td>
            <td class="category--result" style="background:rgba(18,100,181,<% print(sanders !== "-" ? sanders : 0); %>)">
                <span class="result--percent"><% print(sanders !== "-" ? Math.round(parseFloat(sanders,10) * 100) + "%" : "&nbsp;-&nbsp;"); %></span>
            </td>
            <td class="category--result" style="background:rgba(181,32,22,<% print(cruz !== "-" ? cruz  : 0); %>)">
                <span class="result--percent"><% print(cruz !== "-" ? Math.round(parseFloat(cruz,10) * 100) + "%" : "&nbsp;-&nbsp;"); %></span>
            </td>
            <td class="category--result" style="background:rgba(181,32,22,<% print(kasich !== "-" ? kasich : 0); %>)">
                <span class="result--percent"><% print(kasich !== "-" ? Math.round(parseFloat(kasich,10) * 100) + "%" : "&nbsp;-&nbsp;"); %></span>
            </td>
            <td class="category--result" style="background:rgba(181,32,22,<% print(trump !== "-" ? trump : 0); %>)">
                <span class="result--percent"><% print(trump !== "-" ? Math.round(parseFloat(trump,10) * 100) + "%" : "&nbsp;-&nbsp;"); %></span>
            </td>
        </tr>
    </script>
    <script src="js/bundle.js"></script>
</body>
</html>
